<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"> 
  <!-- .github -->
{% include head.html %}
</head>
<body>
  <div class="banner">
      <div class="logo">
        <img class="logo" id="PVlogo" src="{{ site.baseurl }}/assets/PV_logo.svg" alt="parks victoria logo">
        <img class="logo" id="CFAlogo" src="{{ site.baseurl }}/assets/CFA_logo.svg" alt="Code for Australia logo">
        <img class="logo" id="DELWPlogo" src="{{ site.baseurl }}/assets/DELWP.png" alt="DELWP logo">
      </div>
  <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/blog.html">blog</a></li>
          <li><a href="{{ site.baseurl }}/#the-challenge">challenge</a></li>
          <li><a href="{{ site.baseurl }}/#the-team">team</a></li>
        </ul>
  </nav>
  </div>
  <div class="container">
    <h1><a href="{{ site.baseurl }}">{{ site.tag_text }}</a></h1>
    <h2 id="sub_title">{{ site.tag_sub_text }}</h2>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
<!-- <footer>
  <div class="logo">
        <img class="logo" id="PVlogo" src="{{ site.baseurl }}/assets/PV_logo.svg" alt="parks victoria logo">
        <img class="logo" id="CFAlogo" src="{{ site.baseurl }}/assets/CFA_logo.svg" alt="Code for Australia logo">
        <img class="logo" id="DELWPlogo" src="{{ site.baseurl }}/assets/DELWP.png" alt="DELWP logo">
  </div>
</footer> -->
</html>
